{% extends "examples/layout.html" %}
{% block content %}

<div class="row">
        <div class="col-12">

                <div>
                        <canvas id="canvas"></canvas>
                    </div>
                    <input type="file" id="myFile_xls" name="file" class="btn btn-fill btn-primary">
                    <button type="submit" id="rf_xls_predict" class="btn btn-fill btn-primary" >Predict</button>

                    <button id="randomizeData">Randomize Data</button>
                    <button id="addDataset">Add Dataset</button>
                    <button id="removeDataset">Remove Dataset</button>
                    <button id="addData">Add Data</button>
                    <button id="removeData">Remove Data</button>
    
    </div>
    </div>
    

    

    


{%endblock %}

